[submodule "wecodebolivia/show_hide_menu_multi_company_app"]
	path = wecodebolivia/show_hide_menu_multi_company_app
	url = git@github.com:wecodebolivia/show_hide_menu_multi_company_app.git
	branch = 15.0.3.0

[submodule "wecodebolivia/app_product_weight_sale"]
	path = wecodebolivia/app_product_weight_sale
	url = git@github.com:wecodebolivia/app_product_weight_sale.git
	branch = 15.21.10.12

[submodule "wecodebolivia/import_lot_serial_no"]
	path = wecodebolivia/import_lot_serial_no
	url = git@github.com:wecodebolivia/import_lot_serial_no.git
	branch = 15.0.0.1

[submodule "wecodebolivia/sh_sale_line_desc_picking"]
	path = wecodebolivia/sh_sale_line_desc_picking
	url = git@github.com:wecodebolivia/sh_sale_line_desc_picking.git
	branch = 15.0.2

[submodule "wecodebolivia/mrp_sale_info"]
	path = wecodebolivia/mrp_sale_info
	url = git@github.com:wecodebolivia/mrp_sale_info.git
	branch = 15.0.1.0.5.2

[submodule "wecodebolivia/sale_cash_rounding"]
	path = wecodebolivia/sale_cash_rounding
	url = git@github.com:wecodebolivia/sale_cash_rounding.git
	branch = 15.4.0

[submodule "wecodebolivia/product_access_restriction"]
	path = wecodebolivia/product_access_restriction
	url = git@github.com:wecodebolivia/product_access_restriction.git
	branch = 15.0.1.0.2
